.small-logo {
  font-size: 0.8rem;
  font-weight: 500;
}

.medium-logo {
  font-size: 1.2rem;
  font-weight: 500;
}

.big-logo {
  font-size: 2rem;
  font-weight: 500;
}

.logo span {
  color: var(--blue);
  font-weight: 700;
  margin-right: 1px;
}

@media screen and (min-width: 728px) {
  .small-logo {
    font-size: 1rem;
  }
  .medium-logo {
    font-size: 2rem;
  }
  .big-logo {
    font-size: 3rem;
  }
}
