.divider {
  width: 95%;
  margin: 40px auto 0 auto;
  display: flex;
}

.blue {
  width: 20px;
  height: 40px;
  background-color: var(--blue);
}

.dc {
  width: 20px;
  height: 40px;
  background-color: #dcdcdc;
}

@media screen and (min-width: 728px) {
  .divider {
    width: 90%;
    margin: 80px auto 0 auto;
  }
}
